body {
  background-image: linear-gradient(50deg, #92ddc2, #544e94);
}

div {
  background-color: #0a0171;
  height: 667px;
  width: 375px;
  left: 729px;
  top: 326px;
  border-radius: 30px;
  align-content: center;
  position: absolute;
}
h1 {
  color: aqua;
  position: absolute;
  width: 151px;
  height: 23px;
  left: 112px;
  top: 301px;
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
}
p {
  height: 19px;
  width: 275px;
  left: 50px;
  top: 351px;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  color: #fff;
}
img {
  position: absolute;
  width: 177px;
  height: 158px;
  left: 99px;
  top: 92px;
}
input[type="email"] {
  position: absolute;
  width: 335px;
  height: 58px;
  left: 20px;
  top: 394px;
  background: #0a0171;
  border-radius: 20px;
}
input::placeholder {
  color: #ffffff;
}
input[type="password"] {
  position: absolute;
  width: 335px;
  height: 58px;
  left: 20px;
  top: 468px;
  background: #0a0171;
  border-radius: 20px;
}
button {
  position: absolute;
  width: 335px;
  height: 58px;
  left: 20px;
  top: 551px;
  background: #2bc990;
  border-radius: 20px;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
